.SectionHeader {
  margin: auto;
  width: 100%;
  padding-left: 1vw;
  text-align: left;
  font-size: 40px;
}

.Spacer {
  margin-top: 10px;
}

.SectionText {
  margin: auto;
  padding: 2px;
  font-size: 20px;
  text-align: left;
  color: black;
  font-weight: normal;
}

.Section {
  width: 75%;
  margin: auto;
  margin-top: 20%;
  /* margin-bottom: 20%; */
}
