.RetroSite {
  background-color: aqua;
  color: blue;
  text-shadow: 0 0 3px #ff0000, 0 0 3px #0000ff;
  background-image: url('https://cutewallpaper.org/21/wallpaper-for-website/Seamless-abstract-geometric-pattern-fashion-80-90s.-It-can-be-used-in-printing,-website-background-and-fabric-design-Wallpaper-Vinyl-custom-made.jpg');
  min-height: 100vh;
  margin-top: -30px;
}

.RetroHeader1 {
  font-size: 50px;
}

.RetroHeader2 {
  font-size: 40px;
}

.RetroParagraph {
  font-size: 30px;
}

.RetroFirstline {
}

.RetroName {
  width: 30%;
  margin: 100px;
  margin: auto;
  text-align: center;
  width: 100%;
  color: #fff;
  font-family: 'Saira', sans-serif;
  font-size: 100px;
  font-weight: 700;
  background: linear-gradient(
    to bottom,
    #00f2ff 0%,
    #e2fbff 50%,
    #0a343f 51%,
    #0094f7 100%
  );
  background-blend-mode: multiply;
  background-size: 10px;
  background-repeat: repeat;
  line-height: 1;
}
