.ProjectViewerSection {
  /* margin-bottom: 5vh; */
  /* height: 400px; */
  height: auto;
  margin: auto;
  margin-bottom: 50px;
  max-width: 1000px;
}

.LinkContainer {
  text-align: center;
  margin: auto;
}
.LinkButton {
  font-size: 30px;
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.TitleCard {
  width: 90%;
  padding: 10px;
}

.ProjectName {
  margin-bottom: 0px;
  font-size: 35px;
}

.ProjectSubtitle {
  margin-top: 0px;
}

.ProjectImage {
  float: right;
  max-width: 98%;
  max-height: 400px;
  margin: auto;
  border-radius: 15px;
}
.ProjectViewer {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media screen and (max-width: 800px) {
  .ProjectImage {
    display: none;
  }
  .ProjectViewer {
    display: inline;
  }
  .TitleCard {
    width: 100%;
  }
}

.ProjectDescription {
  border-radius: 8px;
  padding: 0px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 5;
}
