.ProjectSection {
  display: flexbox;
  margin-bottom: 10vh;
  min-height: 30vh;
}

.LinkContainer {
  text-align: center;
  margin: auto;
}
.LinkButton {
  font-size: 30px;
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.TitleCard {
  width: 50%;
}

.ProjectName {
  margin-bottom: 0px;
  font-size: 35px;
}

.ProjectSubtitle {
  margin-top: 0px;
}

.ProjectImage {
  max-width: 50%;
}

.ProjectDescription {
  background-color: rgba(230, 230, 230, 0.97);
  border-radius: 8px;
  width: 140%;
  text-align: center;
  position: relative;
  z-index: 5;
}
