.ProjectSection {
  display: flexbox;
  margin-bottom: 10vh;
  padding-bottom: 20px;
  min-height: 30vh;
  max-height: 40vh;
}

/* .ProjectSection:hover {
  transform: scale(1.2);
  background-color: #e0e0e0;
  padding: 30px;
} */

.LinkContainer {
  text-align: center;
  margin: auto;
}
.LinkButton {
  font-size: 30px;
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.TitleCard {
  width: 50%;
}

.ProjectName {
  margin-bottom: 0px;
  font-size: 35px;
}

.ProjectSubtitle {
  margin-top: 0px;
}

.ProjectImage {
  max-width: 50%;
  max-height: 30vh;
  border-radius: 15px;
}

.ProjectDescription {
  background-color: rgba(230, 230, 230, 0.97);
  border-radius: 8px;
  width: 140%;
  text-align: center;
  position: relative;
  z-index: 5;
}
