.rave {
  animation-name: ravingColors;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: yellow;
}

@keyframes ravingColors {
  0% {
    background-color: orangered;
  }
  33% {
    background-color: greenyellow;
  }
  66% {
    background-color: blue;
  }
  100% {
    background-color: blueviolet;
  }
}
