.App {
  text-align: center;
  color:white;
}

.App- {
  height: 40vmin;
  pointer-events: none;
}

.App{
  background-color:inherit;
}

.InlineLink {
  cursor: pointer;
  text-decoration:none;
  color: inherit;
}

.OverlayButton {
  font-size: 30px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding-bottom: 10px;
}

.LeftBar {
  position: fixed;
  display: list-item;
  list-style: none;
  bottom: 0;
  left: 10px;
  right: auto;
  z-index: 1;
  font-size: 20px;
}


.RightBar {
  position: fixed;
  display: list-item;
  list-style: none;
  bottom: 0;
  left: auto;
  right: 15px;
  z-index: 1;
  font-size: 20px;

  .Email {
    writing-mode: vertical-rl;
    padding-bottom: 15px;
  }
  
}

.VerticalLine {
  writing-mode: sideways-lr;
  border-right: 6px solid white;
  width: 20px;
  height: 10vh;
}

@media screen and (max-width: 600px) {
  .RightBar {
    display: none;
  }
  .LeftBar {
    display: none;
  }
}